
h1, h2, h3, h4, h5, h6, ul, li, a, p, span, input {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: lato,sans-serif;
}
a {
    color: #0073aa;
}
a {
    background-color: transparent;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.cscalc_section label {
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}
user agent stylesheet
label {
    cursor: default;
}
.cscalc_section .text-xs-center {
    text-align: center;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: lato,sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "noto serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}

element.style {
    display: none;
}
#cscalc_result {
    background-color: #f5ac15;
    border: 1px solid #d99001;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 10px 0 20px;
    padding: 10px 0;
    text-align: center;
}
.single-blog-content p, .page-template .page-content-inner p {
    padding: 12px 0;
    width: 100%;
}
p {
    color: #263238;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p, span, input {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato',sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cscalc_section {
    margin-bottom: 10px;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
section {
    display: block;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 {
    margin: 0;
    text-align: center;
}
.cscalc_section .row {
    margin-left: -20px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
div {
    display: block;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 {
    margin: 0;
    text-align: center;
}
.cscalc_section .row {
    margin-left: -20px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
div {
    display: block;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 button {
    background: #f1521e;
    color: #fff;
    margin-left: 6px;
    font-size: .8rem;
    padding: 11px 14px;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    border: none;
    border-radius: 0;
    margin: 20px 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0,0,0,.8);
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 {
    margin: 0;
    text-align: center;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 button {
    background: #f1521e;
    color: #fff;
    margin-left: 6px;
    font-size: .8rem;
    padding: 11px 14px;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    border: none;
    border-radius: 0;
    margin: 20px 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0,0,0,.8);
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.single-post section.cscalc_section.section_results .row.gutter-10.center-xs.bottom-xs-30 {
    margin: 0;
    text-align: center;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.cscalc_section .text-xs-center {
    text-align: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
div {
    display: block;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#cscalc_result {
    background-color: #f5ac15;
    border: 1px solid #d99001;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 10px 0 20px;
    padding: 10px 0;
    text-align: center;
}
.single-blog-content p, .page-template .page-content-inner p {
    padding: 12px 0;
    width: 100%;
}
p {
    color: #263238;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p, span, input {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato',sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cscalc_section .text-xs-center {
    text-align: center;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#resultInput {
    font-weight: 700;
    color: #efefef;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p, span, input {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato',sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
#cscalc_result {
    background-color: #f5ac15;
    border: 1px solid #d99001;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 10px 0 20px;
    padding: 10px 0;
    text-align: center;
}
p {
    color: #263238;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.cscalc_section .text-xs-center {
    text-align: center;
}
#cscalc {
    background: #d9f2d9 none repeat scroll 0 0;
    border: 2px solid #286090;
    border-radius: 5px;
    padding: 20px;
    font-family: Open Sans;
}
body {
    font-family: 'Lato',sans-serif;
}
body, button, input, select, optgroup, textarea {
    color: #444;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/***************/
body {
  font-family: 'Raleway', sans-serif;
  background: url("http://www.spyderonlines.com/images/wallpapers/forest-wallpapers/forest-wallpapers-7.jpg") no-repeat top center fixed;
  background-size: cover;
  min-width: 450px;
}

.form-group {
  position: relative;
}


.text-title {
  color: #010E29;
}

form {
  transition: all 0.4s ease;
}


input {
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  border: none !important;
  border-bottom: 1px solid #010E29 !important;
  border-radius: 0 !important;
  outline: none !important;
  background-color: transparent !important;
  width: 100%;
  color: #010E29 !important;
}

label {
  position: absolute;
  pointer-events: none;
  font-size: large;
  top: 1px;
  left: 17px;
  color: #010E29;
  transition: all 0.4s ease;
}

input:focus ~ label,
input.used ~ label {
  color: #235A85;
  font-size: small;
  top: -12px;
  left: 5px;
}

.highlight {
  position: absolute;
  border-bottom: 2px solid #010E29;
  width: 0%;
  top: 23px;
  transition: all 0.4s ease;
}

input:focus ~ .highlight {
  border-bottom: 2px solid #235A85;
  width: 100%;
}

